$color1: white;
$color2: #7db9e8;
$color3: #fc6428;
$color4: #d64d17;
$color5: dimgrey;
$color6: #424242;

$font-family1: 'Poppins', sans-serif;
$font-family2: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$font-family3: 'Montserrat', sans-serif;